.outer-border {
    margin: 70px 0px 0px 70px;
    border-radius: 40px;
    height: 600px;
    width: 300px;
    border: 2px solid rgba(43, 43, 43, 0.74);
    background: rgb(221, 221, 221);
}

.inner-border {
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 40px;
    height: 590px;
    width: 289px;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 45%, rgba(66,66,66,1) 100%);  
}

.screen {
    margin: -10px;
    margin-top: -575px;
    margin-left: 20px;
    border-radius: 30px;
    height: 560px;
    width: 257px;
    background: url("https://images.apple.com/media/us/iphone-x/2017/01df5b43-28e4-4848-bf20-490c34a926a7/overview/primary/hero/small_2x.mp4");
    position: absolute;
}

.notch {
    margin: -10px;
    margin-top: -585px;
    margin-left: 66px;
    border-radius: 12px;
    height: 25px;
    width: 170px;
    background: linear-gradient(rgb(36, 36, 36), rgb(32, 32, 32));
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: row;
}

.circle-sm {
    margin-top: 5px;
    margin-left: 10px;
    height: 12px;
    width: 12px;
    background-color: rgb(44, 44, 44);
    border-radius: 30px;
    z-index: 10;
}

.sensor {
    margin-top: 8px;
    margin-left: 12px;
    height: 6px;
    width: 55px;
    background-color: rgb(75, 75, 75);
    border-radius: 30px;
    z-index: 10;
}

.circle-smb {
    margin-top: 5px;
    margin-left: 10px;
    height: 12px;
    width: 12px;
    background-color: rgba(30, 30, 255, 0.37);
    border-radius: 30px;
    z-index: 10;
}